.flexContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.inputStyle{
    font-size: 1.5em;
    padding: 3px;
    display: inline-block;
    width:30%;
}
